# Standard server definition for plain HTTP.  Handles ACME challenges, and redirects everything
# else to HTTPS.  The common-server role does not contain any server definition for HTTPS, so
# unless other roles provide such a server definition, the requests will be rejected.

# We use the webroot plugin for ACME challenges, mostly because it's the easiest way to prevent
# port collisions.
server {
    listen {{ CERTBOT_NGINX_LISTEN }} default_server;
    server_name _;

    location ^~ /.well-known/acme-challenge/ {
        default_type "text/plain";
        root /var/www/certbot;
    }

    location / {
        return 301 https://$host$request_uri;
    }
}
