<elanmanager-config xmlns="urn:opendaylight:netvirt:elan:config">
  <auto-create-bridge>true</auto-create-bridge>
  <int-bridge-gen-mac>true</int-bridge-gen-mac>
  <temp-smac-learn-timeout>10</temp-smac-learn-timeout>
  <punt-lldp-to-controller>false</punt-lldp-to-controller>
  <!--
  <controller-max-backoff>5000</controller-max-backoff>
  <controller-inactivity-probe>5000</controller-inactivity-probe>
  -->
  <auto-config-transport-zones>true</auto-config-transport-zones>
  <use-of-tunnels>true</use-of-tunnels>
  <openstack-vni-semantics-enforced>true</openstack-vni-semantics-enforced>
</elanmanager-config>

