<!-- {{ ansible_managed }} -->
<secret ephemeral='no' private='no'>
    <uuid>{{ item.secret_uuid }}</uuid>
  <usage type='ceph'>
      <name>client.{{ item.client_name }} secret</name>
  </usage>
</secret>
