[DEFAULT]
use_journal = True

host=0.0.0.0
port={{ blazar_service_port }}

# oslo.messaging default transport
transport_url = {{ blazar_oslomsg_rpc_transport }}://{% for host in blazar_oslomsg_rpc_servers.split(',') %}{{ blazar_oslomsg_rpc_userid }}:{{ blazar_oslomsg_rpc_password }}@{{ host }}:{{ blazar_oslomsg_rpc_port }}{% if not loop.last %},{% else %}/{{ blazar_oslomsg_rpc_vhost }}{% if blazar_oslomsg_rpc_use_ssl | bool %}?ssl=1&ssl_version={{ blazar_oslomsg_rpc_ssl_version }}&ssl_ca_file={{ blazar_oslomsg_rpc_ssl_ca_file }}{% else %}?ssl=0{% endif %}{% endif %}{% endfor %}

[oslo_messaging_rabbit]
ssl = {{ blazar_oslomsg_notify_use_ssl | bool }}

[oslo_messaging_notifications]
driver = {{ (blazar_ceilometer_enabled | bool) | ternary('messagingv2', 'noop') }}
transport_url = {{ blazar_oslomsg_notify_transport }}://{% for host in blazar_oslomsg_notify_servers.split(',') %}{{ blazar_oslomsg_notify_userid }}:{{ blazar_oslomsg_notify_password }}@{{ host }}:{{ blazar_oslomsg_notify_port }}{% if not loop.last %},{% else %}/{{ blazar_oslomsg_notify_vhost }}{% if blazar_oslomsg_notify_use_ssl | bool %}?ssl=1&ssl_version={{ blazar_oslomsg_notify_ssl_version }}&ssl_ca_file={{ blazar_oslomsg_notify_ssl_ca_file }}{% else %}?ssl=0{% endif %}{% endif %}{% endfor %}


[manager]
plugins=physical.host.plugin,virtual.instance.plugin

[keystone_authtoken]
auth_type={{ blazar_keystone_auth_plugin }}
project_domain_name={{ blazar_service_project_domain_id }}
project_name={{ blazar_service_user_domain_id }}
user_domain_name={{ blazar_service_user_domain_id }}
username={{ blazar_service_user_name }}
password={{ blazar_service_password }}
auth_url={{ keystone_service_adminuri }}
service_token_roles_required = {{ blazar_service_token_roles_required | bool }}
service_token_roles = {{ blazar_service_token_roles | join(',') }}
service_type = {{ blazar_service_type }}

[database]
connection = mysql+pymysql://{{ blazar_galera_user }}:{{ blazar_container_mysql_password }}@{{ blazar_galera_address }}/{{ blazar_galera_database }}?charset=utf8{% if blazar_galera_use_ssl | bool %}&ssl_verify_cert=true{% if blazar_galera_ssl_ca_cert | length > 0 %}&ssl_ca={{ blazar_galera_ssl_ca_cert }}{% endif %}{% endif +%}
max_overflow = {{ blazar_db_max_overflow }}
max_pool_size = {{ blazar_db_max_pool_size }}
pool_timeout = {{ blazar_db_pool_timeout }}
connection_recycle_time = {{ blazar_db_connection_recycle_time }}
