# {{ ansible_managed }}

[client]
host={% if inventory_hostname in galera_cluster_members %}
localhost
{% else %}
{{ galera_address }}
{% endif %}
user={{ galera_root_user }}
password={{ galera_root_password }}
{% if galera_use_ssl %}
ssl
{%   if galera_ssl_verify and inventory_hostname not in galera_cluster_members %}
ssl-verify-server-cert
{%   endif %}
{% endif %}
