# {{ ansible_managed }}

[client]
user     = root
password = {{ galera_root_password }}
socket   = /var/run/mysqld/mysqld.sock
{% if galera_use_ssl | bool %}
ssl
{% endif %}

[mysql_upgrade]
user     = root
password = {{ galera_root_password }}
socket   = /var/run/mysqld/mysqld.sock
basedir  = /usr
