# HTTPS
server {
        listen 443 ssl;
        server_name {{ DEFAULT_SITE_HOSTNAME }};
        # Opencraft corporate website has only one SSL certificate, which has the landing hostname as primary domain
        # reuse it for the default hostname
        ssl_certificate /etc/letsencrypt/live/{{ LANDING_SITE_HOSTNAME }}/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/{{ LANDING_SITE_HOSTNAME }}/privkey.pem;

        root /var/www/{{ DEFAULT_SITE_HOSTNAME }};
        index index.html index.php;

        access_log  /var/www/log/{{ DEFAULT_SITE_HOSTNAME }}_nginx_access.log;
        error_log /var/www/log/{{ DEFAULT_SITE_HOSTNAME }}_nginx_error.log error;

        location / {
                try_files $uri $uri/ =404;
        }

        # deny access to .htaccess files
        location ~ /\.ht {
                deny  all;
        }
}
