<?php

// ** Database configuration ** //
define('DB_NAME', '{{ WORDPRESS_DATABASE_NAME }}');
define('DB_USER', '{{ WORDPRESS_DATABASE_USER }}');
define('DB_PASSWORD', '{{ WORDPRESS_DATABASE_PASSWORD }}');
define('DB_HOST', '{{ WORDPRESS_DATABASE_HOST }}');
define('DB_CHARSET', 'utf8mb4');
define('DB_COLLATE', '');
$table_prefix  = '{{ WORDPRESS_DATABASE_TABLE_PREFIX }}';

// ** Secrets ** //
define('AUTH_KEY',         '{{ WORDPRESS_SECRET_AUTH_KEY }}');
define('SECURE_AUTH_KEY',  '{{ WORDPRESS_SECRET_SECURE_AUTH_KEY }}');
define('LOGGED_IN_KEY',    '{{ WORDPRESS_SECRET_LOGGED_IN_KEY }}');
define('NONCE_KEY',        '{{ WORDPRESS_SECRET_NONCE_KEY }}');
define('AUTH_SALT',        '{{ WORDPRESS_SECRET_AUTH_SALT }}');
define('SECURE_AUTH_SALT', '{{ WORDPRESS_SECRET_SECURE_AUTH_SALT }}');
define('LOGGED_IN_SALT',   '{{ WORDPRESS_SECRET_LOGGED_IN_SALT }}');
define('NONCE_SALT',       '{{ WORDPRESS_SECRET_NONCE_SALT }}');


// ** WordPress Settings ** //
define('WP_DEBUG', false);

define('AUTOSAVE_INTERVAL', 300); // seconds
define('WP_POST_REVISIONS', 3);
define('FORCE_SSL_ADMIN', true);
define('WP_SITEURL', 'https://{{ LANDING_SITE_HOSTNAME }}');
define('WP_HOME', 'https://{{ LANDING_SITE_HOSTNAME }}');
$_SERVER['HTTPS'] = 'on';
if ( !defined('ABSPATH') )
	define('ABSPATH', dirname(__FILE__) . '/');
require_once(ABSPATH . 'wp-settings.php');
