#jinja2:lstrip_blocks: True
# Upstream to abstract backend connection(s) for php
upstream php {
        server 127.0.0.1:9000;
}

server {
        ## Your website name goes here.
        server_name {{ WORDPRESS_SITE_DOMAIN }};
        ## Your only path reference.
        root {{ WORDPRESS_DOCUMENT_ROOT}};
        ## This should be in your http block and if it is, it's not needed here.
        index index.php;
        {% if WORDPRESS_BEHIND_EXTERNAL_REVERSE_PROXY %}
        real_ip_header X-Forwarded-For;
        {% if WORDPRESS_NGINX_REAL_IP_TRUSTED_ADDRESSES %}
        {% for trusted_address in WORDPRESS_NGINX_REAL_IP_TRUSTED_ADDRESSES %}
        set_real_ip_from {{ trusted_address }};
        {% endfor %}
        {% else %}
        # WARNING: If this site is directly exposed to the internet, it is possible for clients
        # to spoof the real IP address.
        set_real_ip_from 0.0.0.0/0;
        {% endif %}
        {% endif %}

        # Set max upload size for file uploads
        client_max_body_size {{ WORDPRESS_MAX_UPLOAD_SIZE }};

        location = /favicon.ico {
                log_not_found off;
                access_log off;
        }

        location = /robots.txt {
                allow all;
                log_not_found off;
                access_log off;
        }

        location / {
                # This is cool because no php is touched for static content.
                # include the "?$args" part so non-default permalinks doesn't break when using query string
                try_files $uri $uri/ /index.php?$args;
        }

        location ~ \.php$ {
                #NOTE: You should have "cgi.fix_pathinfo = 0;" in php.ini
                include fastcgi_params;
                fastcgi_intercept_errors on;
                fastcgi_pass php;
                #The following parameter can be also included in fastcgi_params file
                fastcgi_param  SCRIPT_FILENAME $document_root$fastcgi_script_name;
        }

        location ~* \.(js|css|png|jpg|jpeg|gif|ico)$ {
                expires max;
                log_not_found off;
        }
}
