### WARNING: ###
# This file is managed via Ansible.  Manual changes to this file will be overwritten.
################
WORDPRESS_DB_HOST="{{ WORDPRESS_DB_HOST }}"
WORDPRESS_DB_NAME="{{ WORDPRESS_DB_NAME }}"
WORDPRESS_DB_USER="{{ WORDPRESS_DB_USER }}"
WORDPRESS_DB_PASSWORD="{{ WORDPRESS_DB_PASSWORD }}"
{% if WORDPRESS_CONFIG_EXTRA %}
WORDPRESS_CONFIG_EXTRA="{{ WORDPRESS_CONFIG_EXTRA }}"
{% endif %}
{% for var, value in WORDPRESS_DOCKER_ENV_EXTRA.items()|sort %}
{{ var }}={{ value | quote }}
{% endfor %}
