# {{ ansible_managed }}

{% set _ignored_sections = ['filename'] %}
{% for key, values in item.1.items() %}
{%   if key not in _ignored_sections %}
[{{ key }}]
{%     for k, v in values.items() %}
{{ k }}={{ v }}
{%     endfor %}
{%   endif %}

{% endfor %}
