---
actions:
  1:
    action: delete_indices
    description: "Delete indices older than {{ curator_delete_indices_days }} days."
    options:
      ignore_empty_list: True
      continue_if_exception: True
      timeout_override: 300
    filters:
      - filtertype: pattern
        kind: prefix
        value: {{ curator_delete_indices_prefix }}
      - filtertype: age
        source: creation_date
        direction: older
        unit: days
        unit_count: {{ curator_delete_indices_days }}
