---
client:
  hosts: {{ curator_elasticsearch_hosts }}
  port: {{ curator_elasticsearch_port }}
  timeout: {{ curator_timeout }}
  use_ssl: {{ curator_use_ssl }}
{% if curator_use_ssl %}
  ssl_no_validate: False
  certificate: {{ curator_config_dir }}/elasticsearch-ca.pem
{% endif %}
{% if curator_elasticsearch_password %}
  username: {{ curator_elasticsearch_username }}
  password: {{ curator_elasticsearch_password }}
{% endif %}
logging:
  loglevel: {{ curator_log_level }}
