[Unit]
Description=Prometheus MongoDB Exporter
After=network-online.target

[Service]
ExecStart=/usr/local/bin/mongodb_exporter {{ MONGODB_EXPORTER_EXTRA_OPTS }} --web.listen-address=":{{ MONGODB_EXPORTER_INTERNAL_PORT }}" --compatible-mode --mongodb.uri=mongodb://{{ mongodb_root_admin_name }}:{{ mongodb_root_admin_password }}@localhost:27017/admin
EnvironmentFile=/etc/mongodb_exporter.conf
Restart=always
RestartSec=10
User=mongodb
Group=mongodb
LimitNOFILE={{ MONGODB_EXPORTER_LIMIT_OPEN_FILES }}

[Install]
WantedBy=multi-user.target
