{% for log_file in rsyslog_client_all_log_files | sort %}
{{ log_file }}
{% endfor %}
{
{% if rsyslog_client_log_rotate_options | length > 0 %}
{% for option in rsyslog_client_log_rotate_options %}
        {{ option }}
{% endfor %}
{% endif %}
{% if rsyslog_client_log_rotate_scripts | length > 0 %}
        sharedscripts
{% for script in rsyslog_client_log_rotate_scripts %}
        {{ script.name }}
            {{ script.content | default(rsyslog_client_reload) }}
        endscript
{% endfor %}
{% endif %}
}
