# {{ ansible_managed }}

[BGP]
# BGP speaker driver class to be instantiated. (string value)
bgp_speaker_driver = {{ neutron_bgp_speaker_driver }}

# 32-bit BGP identifier, typically an IPv4 address owned by the system running
# the BGP DrAgent. (string value)
bgp_router_id = {{ neutron_bgp_router_id }}
