# {{ ansible_managed }}

{% for key, value in neutron_dhcp_config.items() %}
{{ key }}={{ value }}
{% endfor %}
user={{ neutron_system_user_name }}
{% if neutron_dnsmasq_noresolv %}
no-resolv
{% endif %}