# {{ ansible_managed }}

# General
[DEFAULT]
debug = {{ debug }}

# Drivers
interface_driver = {{ neutron_plugins[neutron_plugin_type].driver_interface }}

agent_mode = {{ neutron_plugins[neutron_plugin_type].l3_agent_mode }}

# Conventional failover
allow_automatic_l3agent_failover = True

# HA failover
ha_confs_path = {{ neutron_system_home_folder }}/ha_confs
ha_vrrp_advert_int = 2
ha_vrrp_auth_password = {{ neutron_ha_vrrp_auth_password }}
ha_vrrp_auth_type = {{ neutron_ha_vrrp_auth_type }}

cleanup_on_shutdown = {{ neutron_l3_cleanup_on_shutdown }}

# Metadata
enable_metadata_proxy = True

# L3 plugins
{% set l3_agent_plugins = [] %}

{% if neutron_vpnaas | bool %}
# VPNaaS
{% set _ = l3_agent_plugins.append("vpnaas") %}
[vpnagent]
vpn_device_driver = {{ neutron_driver_vpnaas }}
{% endif %}

{% if neutron_port_forwarding|bool %}
{% set _ = l3_agent_plugins.append("port_forwarding") %}
{% endif %}

{% if l3_agent_plugins|length > 0 %}
[AGENT]
extensions = {{ l3_agent_plugins | join(',') }}
{% endif %}
