# {{ ansible_managed }}

[DEFAULT]
debug = {{ debug }}

# Nova metadata service IP and port
nova_metadata_host = {{ internal_lb_vip_address }}

# Metadata proxy shared secret
metadata_proxy_shared_secret = {{ nova_metadata_proxy_secret }}

# Protocol to access nova metadata, http or https
nova_metadata_protocol = {{ neutron_nova_metadata_protocol }}

[ovs]
ovsdb_connection = unix:{{ neutron_ovs_socket_path }}/db.sock
ovsdb_connection_timeout = 180
