# {{ ansible_managed }}

[DEFAULT]
# Disable stderr logging
use_stderr = False
debug = {{ debug }}
log_file = {{ tempest_log_dir}}/tempest.log

[auth]
{% if tempest_test_accounts | length > 0 %}
use_dynamic_credentials = False
test_accounts_file = {{ tempest_test_accounts_file_path }}
{% else %}
use_dynamic_credentials = True
default_credentials_domain_name = {{ tempest_domain_name }}
admin_domain_name = {{ tempest_domain_name }}
admin_username = {{ keystone_admin_user_name }}
admin_project_name = {{ keystone_admin_tenant_name }}
admin_password = {{ keystone_auth_admin_password }}
create_isolated_networks = {{ tempest_create_isolated_networks }}
{% endif %}

[debug]

[validation]
run_validation = {{ tempest_compute_run_ssh }}
image_ssh_user = {{ tempest_compute_image_ssh_user }}
ping_timeout = 240
connect_timeout = 120
ssh_timeout = 600

[oslo_concurrency]
lock_path = {{ tempest_venv_bin | dirname }}/locks

[scenario]
img_file = {{ tempest_image_dir }}/{{ tempest_images[0]['url'] | basename }}
img_container_format = bare
img_disk_format = {{ tempest_images[0]['format'] }}

[service-clients]
http_timeout = 120

[service_available]
cinder = {{ tempest_service_available_cinder }}
neutron = {{ tempest_service_available_neutron }}
glance = {{ tempest_service_available_glance }}
gnocchi = {{ tempest_service_available_gnocchi }}
swift = {{ tempest_service_available_swift }}
nova = {{ tempest_service_available_nova }}
heat = {{ tempest_service_available_heat }}
ceilometer = {{ tempest_service_available_ceilometer }}
ironic = {{ tempest_service_available_ironic }}
horizon = {{ tempest_service_available_horizon }}
aodh = {{ tempest_service_available_aodh }}
sahara = {{ tempest_service_available_sahara }}
zaqar = {{ tempest_service_available_zaqar }}
manila = {{ tempest_service_available_manila }}
murano = {{ tempest_service_available_murano }}
panko = {{ tempest_service_available_panko }}
trove = {{ tempest_service_available_trove }}
zun = {{ tempest_service_available_zun }}

[identity]
disable_ssl_certificate_validation = {{ tempest_keystone_interface_insecure | bool }}
uri = {{ keystone_service_internaluri }}/v2.0
uri_v3 = {{ keystone_service_internalurl }}
v2_admin_endpoint_type = {{ tempest_endpoint_type }}
v2_public_endpoint_type = {{ tempest_endpoint_type }}
v3_endpoint_type = {{ tempest_endpoint_type }}

{% if tempest_service_available_nova | bool %}
[compute]
image_ref = {{ tempest_glance_image_id_1 }}
image_ref_alt = {{ tempest_glance_image_id_2 }}
flavor_ref = {{ tempest_nova_flavor_id_1 }}
flavor_ref_alt = {{ tempest_nova_flavor_id_2 }}
{% if not tempest_create_isolated_networks | bool %}
fixed_network_name = {{ tempest_fixed_network_name }}
{% endif %}
endpoint_type = {{ tempest_endpoint_type }}
build_timeout = 600
{% endif %}


{% if tempest_service_available_cinder | bool %}
[volume]
endpoint_type = {{ tempest_endpoint_type }}
catalog_type = volumev3
build_timeout = 600
{% endif %}


{% if tempest_service_available_glance | bool %}
[image]
endpoint_type = {{ tempest_endpoint_type }}
http_image = {{ tempest_images[0]['url'] }}
build_timeout = 600
{% endif %}


{% if tempest_service_available_neutron | bool %}
[network]
endpoint_type = {{ tempest_endpoint_type }}
public_network_id = {{ tempest_neutron_public_network_id }}
floating_network_name = {{ tempest_public_net_name }}
build_timeout = 600
{% endif %}


{% if tempest_service_available_ironic | bool %}
[baremetal]
endpoint_type = {{ tempest_endpoint_type }}
{% endif %}


{% if tempest_service_available_sahara | bool %}
[data_processing]
endpoint_type = {{ tempest_endpoint_type }}
{% endif %}


{% if tempest_service_available_ceilometer | bool %}
[telemetry]
endpoint_type = {{ tempest_endpoint_type }}
{% endif %}


{% if tempest_service_available_horizon | bool %}
[dashboard]
dashboard_url = {{ tempest_dashboard_url }}
{% endif %}


{% if tempest_service_available_aodh | bool %}
[alarming]
endpoint_type = {{ tempest_endpoint_type }}
{% endif %}


{% if tempest_service_available_swift | bool %}
[object-storage]
endpoint_type = {{ tempest_endpoint_type }}
operator_role = swiftoperator
{% endif %}


{% if tempest_service_available_heat | bool %}
[heat_plugin]
endpoint_type = {{ tempest_endpoint_type }}
instance_type = {{ tempest_nova_flavor_id_1 }}
{% endif %}
