PATH="{{ openstack_host_environment_path | join(':') }}"
REQUESTS_CA_BUNDLE="{{ openstack_ca_bundle_path }}"
{% for key, value in global_environment_variables.items() %}
{%   if value %}
{{ key }}={{ value }}
{%   endif %}
{% endfor %}
