# {{ ansible_managed }}

DISTRIB_ID="{{ openstack_distrib_id }}"
DISTRIB_RELEASE="{{ openstack_distrib_release }}"
DISTRIB_CODENAME="{{ openstack_distrib_code_name }}"
DISTRIB_DESCRIPTION="{{ openstack_distrib_description }}"
