{% if rsyslog_server_storage_policy == "per_host" %}
{{ rsyslog_server_storage_directory }}/**/*.log
{% endif %}
{% if rsyslog_server_storage_policy == "per_program" %}
{{ rsyslog_server_storage_directory }}/*.log
{% endif %}
{
        copytruncate
        weekly
        missingok
        rotate {{ rsyslog_server_logrotation_window }}
        compress
        dateext
        maxage 60
        notifempty
        nocreate
}
