{
    "Directory": "{{ MATTERMAIL_HOME }}/data/",
    "Profiles": [
        {
            "Name": "{{ MATTERMAIL_MATTERMOST_LOGIN }}",
            "Channels": ["{{ MATTERMAIL_MATTERMOST_CHANNEL }}"],

            "Email": {
                "ImapServer": "{{ EMAIL_SERVER }}",
                "Username": "{{ EMAIL_USERNAME }}",
                "Password": "{{ EMAIL_PASSWORD }}"
            },

            "MailTemplate": "{{ MATTERMAIL_MAIL_TEMPLATE }}",

            "Mattermost": {
                "Server": "{{ MATTERMAIL_MATTERMOST_URL }}",
                "Team": "{{ MATTERMAIL_MATTERMOST_TEAM }}",
                "User": "{{ MATTERMAIL_MATTERMOST_LOGIN }}",
                "Password": "{{ MATTERMAIL_MATTERMOST_PASSWORD }}"
            }
        }
    ]
}
