# mattermail
[Unit]
Description=mattermail server
After=network-online.target

[Service]
Type=simple
ExecStart={{ MATTERMAIL_HOME }}/bin/mattermail server -c {{ MATTERMAIL_HOME }}/config.json
Nice=5
Restart=always
RestartSec=10
User=mattermail
Group=mattermail
# Mattermail seems to be leaking memory, so we let systemd kill it if it uses too much memory.
MemoryHigh=120M
MemoryMax=150M

[Install]
WantedBy=multi-user.target
