### WARNING: ###
# This file is managed via Ansible.  Manual changes to this file will be overwritten.
################
integration_name: com.newrelic.rabbitmq

instances:
  - name: "{{ RABBITMQ_HOSTNAME }}"
    command: all
    arguments:
      hostname: "{{ RABBITMQ_HOSTNAME }}"
      port: "{{ RABBITMQ_HTTPS_PORT }}"
      username: "{{ RABBITMQ_ADMIN_USERNAME }}"
      password: "{{ RABBITMQ_ADMIN_PASSWORD }}"
      config_path: "/etc/rabbitmq/rabbitmq.config"
      use_ssl: true
      queues_regexes: '[".*"]'
      exchanges_regexes: '[".*"]'
      vhosts_regexes: '[".*"]'
    labels:
      env: "{{ RABBITMQ_HOSTNAME }}"
      role: rabbitmq
