[
 %% Disable SSLv3.0 (POODLE) and TLSv1.0 (BEAST) support.
 {ssl, [{versions, ['tlsv1.2', 'tlsv1.1']}]},
 {rabbit, [
           {heartbeat, {{ RABBITMQ_HEARTBEAT }}},
           {ssl_listeners, [{{ RABBITMQ_TLS_PORT}}]},
           {ssl_options, [{cacertfile,"{{ RABBITMQ_CA_CERTIFICATE_FILE }}"},
                          {certfile,  "{{ RABBITMQ_CERTIFICATE_FILE }}"},
                          {keyfile,   "{{ RABBITMQ_KEY_FILE }}"},
                          {versions, ['tlsv1.2', 'tlsv1.1']}
                         ]},
           {log_levels, [{connection, warning}]},
           {vm_memory_high_watermark, {{ RABBITMQ_HIGH_MEMORY_ALARM }}}
          ]},
 {rabbitmq_management, [
                        {listener, [{port,     {{ RABBITMQ_HTTPS_PORT }}},
                                    {ssl,      true},
                                    {ssl_opts, [{cacertfile, "{{ RABBITMQ_CA_CERTIFICATE_FILE }}"},
                                                {certfile,   "{{ RABBITMQ_CERTIFICATE_FILE }}"},
                                                {keyfile,    "{{ RABBITMQ_KEY_FILE }}"}
                                               ]}
                                   ]}
                       ]}
].
