Package: mysql-server
Pin: version {{MYSQL_PINNED_VERSION}}
Pin-Priority: 1001

Package: mysql-client
Pin: version {{MYSQL_PINNED_VERSION}}
Pin-Priority: 1001

Package: mysql-community-server
Pin: version {{MYSQL_PINNED_VERSION}}
Pin-Priority: 1001

Package: mysql-community-client
Pin: version {{MYSQL_PINNED_VERSION}}
Pin-Priority: 1001
