#{{ ansible_managed}}

[DEFAULT]
use_journal = True
# Disable stderr logging
use_stderr = False
auth_strategy = keystone
debug = {{ debug }}
transport_url = {{ aodh_oslomsg_rpc_transport }}://{% for host in aodh_oslomsg_rpc_servers.split(',') %}{{ aodh_oslomsg_rpc_userid }}:{{ aodh_oslomsg_rpc_password }}@{{ host }}:{{ aodh_oslomsg_rpc_port }}{% if not loop.last %},{% else %}/{{ aodh_oslomsg_rpc_vhost }}{% if aodh_oslomsg_rpc_use_ssl | bool %}?ssl=1&ssl_version={{ aodh_oslomsg_rpc_ssl_version }}&ssl_ca_file={{ aodh_oslomsg_rpc_ssl_ca_file }}{% else %}?ssl=0{% endif %}{% endif %}{% endfor %}

[oslo_messaging_rabbit]
ssl = {{ aodh_oslomsg_rpc_use_ssl }}

[api]
port = {{ aodh_service_port }}

[database]
connection = {{ aodh_connection_string }}
max_overflow = {{ aodh_db_max_overflow }}
max_pool_size = {{ aodh_db_max_pool_size }}
pool_timeout = {{ aodh_db_pool_timeout }}
connection_recycle_time = {{ aodh_db_connection_recycle_time }}

[keystone_authtoken]
insecure = {{ keystone_service_internaluri_insecure | bool }}
auth_type = {{ aodh_keystone_auth_plugin }}
auth_url = {{ keystone_service_adminurl }}
www_authenticate_uri = {{ keystone_service_internaluri }}
project_domain_id = {{ aodh_service_project_domain_id }}
user_domain_id = {{ aodh_service_user_domain_id }}
project_name = {{ aodh_service_project_name }}
username = {{ aodh_service_user_name }}
password = {{ aodh_service_password }}
region_name = {{ keystone_service_region }}


service_token_roles_required = {{ aodh_service_token_roles_required | bool }}
service_token_roles = {{ aodh_service_token_roles | join(',') }}
service_type = {{ aodh_service_type }}

memcached_servers = {{ aodh_memcached_servers }}

token_cache_time = 300

# if your memcached server is shared, use these settings to avoid cache poisoning
memcache_security_strategy = ENCRYPT
memcache_secret_key = {{ memcached_encryption_key }}

[oslo_messaging_notifications]
transport_url = {{ aodh_oslomsg_notify_transport }}://{% for host in aodh_oslomsg_notify_servers.split(',') %}{{ aodh_oslomsg_notify_userid }}:{{ aodh_oslomsg_notify_password }}@{{ host }}:{{ aodh_oslomsg_notify_port }}{% if not loop.last %},{% else %}/{{ aodh_oslomsg_notify_vhost }}{% if aodh_oslomsg_notify_use_ssl | bool %}?ssl=1&ssl_version={{ aodh_oslomsg_notify_ssl_version }}&ssl_ca_file={{ aodh_oslomsg_notify_ssl_ca_file }}{% else %}?ssl=0{% endif %}{% endif %}{% endfor %}

[service_credentials]
auth_type = {{ aodh_keystone_auth_plugin }}
auth_url = {{ keystone_service_internalurl }}
project_domain_id = {{ aodh_service_project_domain_id }}
user_domain_id = {{ aodh_service_user_domain_id }}
project_name = {{ aodh_service_project_name }}
username = {{ aodh_service_user_name }}
tenant_name = {{ aodh_service_tenant_name }}
password = {{ aodh_service_password }}
region_name = {{ aodh_service_region }}
interface = {{ aodh_service_endpoint_type }}
