# {{ ansible_managed }}

[Unit]
Description=Auto mount for {{ systemd_mount_item }}
{% if not (item.what is search("^/.*")) or not (item.what is search("^//.*")) %}
Requires=network-online.target
After=network-online.target
{% endif %}

[{{ systemd_mount_suffix | capitalize }}]
What={{ item.what }}
{% if item.type == 'swap' %}
Priority={{ item.priority | default(0) }}
{% else %}
Where={{ item.where }}
Type={{ item.type }}
{% endif %}
Options={{ item.options | default(systemd_default_mount_options) }}{% if 'credentials' in item and item.type == 'fuse.s3fs' %},passwd_file=/etc/passwd-{{ mount_service_name.stdout }}{% endif %}

[Install]
WantedBy=multi-user.target
