{# The lines below should be included in the section PluginSettings -> Plugins -> mattermost-autolink
   in the file config.json.  Since config.json is owned by Mattermost, and JSON does not support any
   comments, it's difficult to automate this with Ansible. #}
                "links": [
{% for domain in MATTERMOST_JIRA_DOMAINS %}
{% set domain_loop = loop %}
{% for project in domain.projects %}
                    {
                        "Pattern": "(?P<project>{{ project }})-(?P<id>\\d{1,6})(?P<comma>[,;]*)",
                        "Template": "[${project}-${id}](https://{{ domain.domain }}/browse/${project}-${id})${comma}"
                    },
                    {
                        "Pattern": "https://{{ domain.domain }}/browse/(?P<project>{{ project }})-(?P<id>\\d{1,6})(?P<query>\\?\\S*\\w)?",
                        "Template": "[${project}-${id}](https://{{ domain.domain }}/browse/${project}-${id}${query})"
                    }{{ "," if not (loop.last and domain_loop.last) else "" }}
{% endfor %}
{% endfor %}
                ]
