[Unit]
Description=Mattermost
After=network-online.target

[Service]
Type=simple
ExecStart={{ MATTERMOST_INSTALL_DIR }}/mattermost/bin/mattermost server
Restart=always
RestartSec=10
WorkingDirectory={{ MATTERMOST_INSTALL_DIR }}/mattermost
User=mattermost
Group=mattermost

[Install]
WantedBy=multi-user.target
