input {
  beats {
    port => 5044
    ssl => true
    ssl_certificate_authorities => ["{{ logstash_config_dir }}/ca.crt"]
    ssl_certificate => "{{ logstash_config_dir }}/logstash.crt"
    ssl_key => "{{ logstash_config_dir }}/logstash.key"
    ssl_verify_mode => "force_peer"
  }
}

# See https://discuss.elastic.co/t/logstash-errors-after-upgrading-to-filebeat-6-3-0/135984/
# for why we use this filter.
# tl;dr, Filebeat has a new `host` field in 6.3.x, but not in 6.2.x. However we need a new
# index in Elasticsearch to accomodate the new field, and this is thus backwards-incompatible,
# even though 6.x versions shouldn't have such breaking changes...
# ref: https://www.elastic.co/guide/en/elasticsearch/reference/current/breaking-changes.html
filter {
  mutate {
    remove_field => [ "[host]" ]
  }

  mutate {
    add_field => {
      "host" => "%{[beat][hostname]}"
    }
  }

  # Apply special filters if dealing with nginx access logs
  if [source] =~ /.*\/nginx\/access.log$/ {

    # Split out fields from the nginx logs
    dissect {
      mapping => {
        'message' => '%{proxy_ip} - %{remote_ip} - %{remote_user} %{protocol} [%{time_local}]  "%{request}" %{http_status} %{body_bytes_sent} %{request_time} "%{http_referer}" "%{user_agent}"'
      }
    }

    # Fingerprint the remote_ip field and remove it
    fingerprint {
      method => "SHA256"
      source => [ "remote_ip" ]
      remove_field => [ "remote_ip" ]
      key => "{{ LOGSTASH_IP_FINGERPRINT_KEY }}"
    }

    # Truncate the fingerprint field to 16 chars
    truncate {
      fields => [ "fingerprint" ]
      length_bytes => 16
    }

    # Replace remote ip in log message with fingerprinted id
    mutate {
      gsub => [
          "message", "- \d{1,3}.\d{1,3}.\d{1,3}.\d{1,3} -", "- %{fingerprint} -"
      ]
    }
  }
}

output {
  elasticsearch {
    hosts => {{ logstash_elasticsearch_hosts | to_json }}
    index => "%{[@metadata][beat]}-%{+YYYY.MM.dd}"
    user => {{ logstash_elasticsearch_user }}
    password => {{ logstash_elasticsearch_password }}
    ssl => true
    ssl_certificate_verification => false
    cacert => "{{ logstash_config_dir }}/elasticsearch-ca.pem"
  }
}
