[Unit]
Description=Kibana Email Alert
After=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
ExecStart=/usr/local/sbin/kibana_email_alert.sh

[Install]
WantedBy=multi-user.target
