export VIRTUAL_ENV=$(pwd)
export ANSIBLE_HOST_KEY_CHECKING=False
export ANSIBLE_SSH_CONTROL_PATH=/tmp/%%h-%%r


# This is required as the default is '/etc/ansible/roles' or a path
# specified in ansible.cfg
export ANSIBLE_ROLES_PATH=${HOME}/.ansible/roles:$(pwd)/..
export ANSIBLE_COLLECTIONS_PATHS="${HOME}/.ansible:$(pwd)/.."
export ANSIBLE_COLLECTIONS_PATH="${HOME}/.ansible:$(pwd)/.."

export ANSIBLE_SSH_ARGS="-o ControlMaster=no \
  -o UserKnownHostsFile=/dev/null \
  -o StrictHostKeyChecking=no \
  -o ServerAliveInterval=64 \
  -o ServerAliveCountMax=1024 \
  -o Compression=no \
  -o TCPKeepAlive=yes \
  -o VerifyHostKeyDNS=no \
  -o ForwardX11=no \
  -o ForwardAgent=yes"

echo "Run manual functional tests by executing the following:"
echo "# ./.tox/functional/bin/ansible-playbook -i tests/inventory tests/test.yml"
