# {{ ansible_managed }}

{% if debug | bool %}
  {% set _verbosity = '-vv' %}
{% else %}
  {% set _verbosity = '-v' %}
{% endif %}

PORT="{{ memcached_port }}"
USER="{{ memcached_user }}"
MAXCONN="{{ memcached_connections }}"
CACHESIZE="{{ memcached_memory }}"
OPTIONS="-U 0 -l {{ memcached_listen }} -t {{ memcached_threads }} {{ _verbosity }}"
