# {{ ansible_managed }}

[DEFAULT]
debug = {{ mistral_debug }}
use_journal = True
transport_url = {{ mistral_oslomsg_rpc_transport }}://{% for host in mistral_oslomsg_rpc_servers.split(',') %}{{ mistral_oslomsg_rpc_userid }}:{{ mistral_oslomsg_rpc_password }}@{{ host }}:{{ mistral_oslomsg_rpc_port }}{% if not loop.last %},{% else %}/{{ mistral_oslomsg_rpc_vhost }}{% if mistral_oslomsg_rpc_use_ssl | bool %}?ssl=1&ssl_version={{ mistral_oslomsg_rpc_ssl_version }}&ssl_ca_file={{ mistral_oslomsg_rpc_ssl_ca_file }}{% else %}?ssl=0{% endif %}{% endif %}{% endfor %}

[api]
allow_action_execution_deletion = True

[database]
connection = mysql+pymysql://{{ mistral_galera_user }}:{{ mistral_galera_password }}@{{ mistral_galera_address }}/{{ mistral_galera_database }}?charset=utf8{% if mistral_galera_use_ssl | bool %}&ssl_verify_cert=true{% if mistral_galera_ssl_ca_cert | length > 0 %}&ssl_ca={{ mistral_galera_ssl_ca_cert }}{% endif %}{% endif +%}
max_overflow = {{ mistral_db_max_overflow }}
max_pool_size = {{ mistral_db_max_pool_size }}
pool_timeout = {{ mistral_db_pool_timeout }}
connection_recycle_time = {{ mistral_db_connection_recycle_time }}

[keystone_authtoken]
auth_type = password
insecure = {{ keystone_service_internaluri_insecure | bool }}
auth_url = {{ keystone_service_adminuri }}
www_authenticate_uri = {{ keystone_service_publicuri }}/v3
project_domain_id = {{ mistral_service_project_domain_id }}
user_domain_id = {{ mistral_service_user_domain_id }}
project_name = {{ mistral_service_project_name }}
username = {{ mistral_service_user_name }}
password = {{ mistral_service_password }}
region_name = {{ keystone_service_region }}

service_token_roles_required = {{ mistral_service_token_roles_required | bool }}
service_token_roles = {{ mistral_service_token_roles | join(',') }}
service_type = {{ mistral_service_type }}

memcached_servers = {{ mistral_memcached_servers }}
memcache_security_strategy = ENCRYPT
memcache_secret_key = {{ memcached_encryption_key }}
