# {{ ansible_managed }}

[swift1]
user = {{ glance_swift_store_user }}
key = {{ glance_swift_store_key }}
user_domain_id = {{ glance_swift_store_user_domain }}
project_domain_id = {{ glance_swift_store_project_domain }}
auth_version = {{ glance_swift_store_auth_version }}
auth_address = {{ glance_swift_store_auth_address }}
