#!/usr/bin/env bash
set -ev

# Generate the lxc container create prep commands
{{ lxc_container_commands }}

{% for item in lxc_container_default_bind_mounts | union(_lxc_container_bind_mounts) | union(lxc_container_bind_mounts) %}
{%   if item['container_directory'] is defined %}
# Create dir "{{ item['container_directory'] }}"
mkdir -p "{{ item['container_directory'] }}"

{%   endif %}
{% endfor %}

# Run extra commands
{{ lxc_container_extra_commands }}
