[Match]
Name={{ item.value.interface }}

{% if item.value.address is defined %}
[Address]
{% set addr_cidr = (item.value.address | string + '/' + item.value.netmask | string) | ansible.utils.ipaddr('prefix') %}
Address={{ item.value.address }}/{{ addr_cidr }}
{% else %}
[DHCP]
{% if item.value.dhcp_use_dns is defined %}
UseDNS={{ item.value.dhcp_use_dns | bool | lower }}
{% else %}
UseDNS={{ (lxc_container_enable_resolved | bool) | ternary('yes', 'no') }}
{% endif %}
UseNTP=yes
RouteMetric=20
{% if hostvars[inventory_hostname]['gateway'] is defined
   or item.value.dhcp_use_routes is defined %}
UseRoutes={{ item.value.dhcp_use_routes | default(false) | bool | lower }}
{% endif %}

{% endif %}

{% for route in item.value.static_routes | default([]) %}
[Route]
Destination={{ route['cidr'] }}
Gateway={{ route['gateway'] }}
Metric={{ 20 + loop.index }}

{% endfor %}

[Network]
{% if item.value.address is defined %}
{%   set addr_cidr = (item.value.address | string + '/' + item.value.netmask | string) | ansible.utils.ipaddr('prefix') %}
Address={{ item.value.address }}/{{ addr_cidr }}
{% else %}
DHCP=yes
{% endif %}
{% if item.value.gateway is defined %}
Gateway={{ item.value.gateway }}
{% endif %}

[Link]
{% if item.value.mtu is defined %}
MTUBytes={{ item.value.mtu }}
{% endif %}
