# {{ ansible_managed }}

[Unit]
Description=Apply Kernel Variables in Container
DefaultDependencies=no
Conflicts=shutdown.target
After=systemd-modules-load.service
Before=sysinit.target shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart={{ sysctl_path }}/sysctl -p
TimeoutSec=90s

[Install]
WantedBy=multi-user.target
