# {{ ansible_managed }}

server:
	interface: {{ unbound_listen_interface }}
{% for i in unbound_access_control %}
	access-control: {{ i.cidr }} {{ i.action }}
{% endfor %}
	local-zone: "{{ unbound_root_zone }}" {{ unbound_localzone_mode }}
{% if not unbound_ipv6 | bool %}
	do-ip6: no
{% endif %}
{% if unbound_pid_file is defined %}
	pidfile: "{{ unbound_pid_file }}"
{% endif %}

forward-zone:
	name: "."
{% for dns_server in unbound_upstream_resolvers %}
	forward-addr: {{ dns_server }}
{% endfor %}
