{
    "datacenter": "{{ consul_datacenter }}",
    "node_name": "{{ consul_nodename }}",
    "advertise_addr": "{{ consul_ip }}",
    "data_dir": "{{ consul_data_dir }}",
    "server": {{ "true" if consul_server else "false" }},
    "performance": {
        "raft_multiplier": {{ consul_performance_raft_multiplier }}
    },
    "retry_join": [{% for host in consul_servers %}"{{ host }}"{% if not loop.last %}, {% endif %}{% endfor %}],
    "rejoin_after_leave": {{ "true" if consul_rejoin_after_leave else "false" }},
    "enable_script_checks": {{ "true" if consul_enable_script_checks else "false" }},
    "enable_syslog": {{ "true" if consul_enable_syslog else "false" }},
{% if consul_acl_enabled %}
    "acl_datacenter": "{{ consul_acl_datacenter }}",
    "acl_down_policy": "{{ consul_acl_down_policy }}",
{% if consul_server %}
    "acl_default_policy": "{{ consul_acl_default_policy }}",
    "acl_master_token": "{{ consul_acl_master_token }}",
{% endif %}
{% if consul_acl_token %}
    "acl_token": "{{ consul_acl_token }}",
{% endif %}
{% endif %}
{% if consul_server %}
    "bootstrap_expect": {{ consul_servers | length }},
    "connect": {
        "enabled": true
    },
{% endif %}
{% if consul_encrypt != "" %}
    "encrypt": "{{ consul_encrypt }}",
{% endif %}
{% if consul_ui %}
    "ui": true,
    "addresses": {
        "http": "0.0.0.0"
    },
{% endif %}
    "log_level": "{{ consul_log_level }}"
}
