[Unit]
Description=Consul Agent
Requires=network-online.target
After=network-online.target

[Service]
User=consul
Group=consul
PermissionsStartOnly=true
{% if consul_auto_generate_config %}
ExecStart=/usr/local/sbin/run_consul.sh
{% else %}
ExecStart={{ consul_bin_dir }}/consul agent -config-dir {{ consul_config_dir }}
{% endif %}
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
