# {{ ansible_managed }}

[DEFAULT]
# Disable stderr logging
use_stderr = False

debug = {{ debug }}
use_journal = True
fatal_deprecations = {{ sahara_fatal_deprecations }}
host = {{ sahara_api_bind_address }}
port = {{ sahara_api_service_port }}
workers = {{ sahara_api_workers }}
use_floating_ips = {{ sahara_use_floating_ips }}
use_namespaces = {{ sahara_use_namespaces }}
plugins = {{ sahara_plugin_loaded_base }}
global_remote_threshold = {{ sahara_global_remote_threshold }}
cluster_remote_threshold = {{ sahara_cluster_remote_threshold }}
os_region_name = {{ sahara_os_region_name }}
default_ntp_server = {{ sahara_default_ntp_server }}
{% if sahara_use_domain_for_proxy_users %}
use_domain_for_proxy_users = {{ sahara_use_domain_for_proxy_users }}
proxy_user_domain_name = {{ sahara_proxy_user_domain_name }}
proxy_user_role_names = {{ sahara_proxy_user_role_names }}
{% endif %}

## RPC Backend
transport_url = {{ sahara_oslomsg_rpc_transport }}://{% for host in sahara_oslomsg_rpc_servers.split(',') %}{{ sahara_oslomsg_rpc_userid }}:{{ sahara_oslomsg_rpc_password }}@{{ host }}:{{ sahara_oslomsg_rpc_port }}{% if not loop.last %},{% else %}/{{ sahara_oslomsg_rpc_vhost }}{% if sahara_oslomsg_rpc_use_ssl | bool %}?ssl=1&ssl_version={{ sahara_oslomsg_rpc_ssl_version }}&ssl_ca_file={{ sahara_oslomsg_rpc_ssl_ca_file }}{% else %}?ssl=0{% endif %}{% endif %}{% endfor %}

[database]
connection = mysql+pymysql://{{ sahara_galera_user }}:{{ sahara_container_mysql_password }}@{{ sahara_galera_address }}/{{ sahara_galera_database }}?charset=utf8{% if sahara_galera_use_ssl | bool %}&ssl_verify_cert=true{% if sahara_galera_ssl_ca_cert | length > 0 %}&ssl_ca={{ sahara_galera_ssl_ca_cert }}{% endif %}{% endif +%}
max_overflow = {{ sahara_db_max_overflow }}
max_pool_size = {{ sahara_db_max_pool_size }}
pool_timeout = {{ sahara_db_pool_timeout }}
connection_recycle_time = {{ sahara_db_connection_recycle_time }}

[keystone_authtoken]
insecure = {{ keystone_service_internaluri_insecure | bool }}
auth_type = {{ sahara_keystone_auth_plugin }}
auth_url = {{ keystone_service_adminurl }}
www_authenticate_uri = {{ keystone_service_internaluri }}
project_domain_id = {{ sahara_service_project_domain_id }}
user_domain_id = {{ sahara_service_user_domain_id }}
project_name = {{ sahara_service_project_name }}
username = {{ sahara_service_user_name }}
password = {{ sahara_service_password }}

service_token_roles_required = {{ sahara_service_token_roles_required | bool }}
service_token_roles = {{ sahara_service_token_roles | join(',') }}
service_type = {{ sahara_service_type }}

memcached_servers = {{ sahara_memcached_servers }}

token_cache_time = 300

# if your memcached server is shared, use these settings to avoid cache poisoning
memcache_security_strategy = ENCRYPT
memcache_secret_key = {{ memcached_encryption_key }}

[oslo_policy]
policy_file = {{ sahara_policy_file }}
policy_default_rule = {{ sahara_policy_default_rule }}
policy_dirs = {{ sahara_policy_dirs }}

# Ceilometer options
[oslo_messaging_notifications]
driver = {{ (sahara_ceilometer_enabled | bool) | ternary('messagingv2', 'noop') }}
transport_url = {{ sahara_oslomsg_notify_transport }}://{% for host in sahara_oslomsg_notify_servers.split(',') %}{{ sahara_oslomsg_notify_userid }}:{{ sahara_oslomsg_notify_password }}@{{ host }}:{{ sahara_oslomsg_notify_port }}{% if not loop.last %},{% else %}/{{ sahara_oslomsg_notify_vhost }}{% if sahara_oslomsg_notify_use_ssl | bool %}?ssl=1&ssl_version={{ sahara_oslomsg_notify_ssl_version }}&ssl_ca_file={{ sahara_oslomsg_notify_ssl_ca_file }}{% else %}?ssl=0{% endif %}{% endif %}{% endfor %}

[oslo_messaging_rabbit]
ssl = {{ sahara_oslomsg_rpc_use_ssl }}

[profiler]
enabled = {{ sahara_profiler_enabled }}

[trustee]
auth_url = {{ keystone_service_adminurl }}
username = {{ sahara_service_user_name }}
password = {{ sahara_service_password }}
project_name = {{ sahara_service_project_name }}
user_domain_name = {{ sahara_service_user_domain_name }}
project_domain_name = {{ sahara_service_project_domain_name }}
