#!/usr/bin/env bash
. {{ pyenv_root }}/.pyenvrc
pyenv activate {{ opencraft_virtualenv_name }}
cd {{ opencraft_root_dir }}
honcho run python manage.py delete_archived -y {{ OPENCRAFT_DELETE_ARCHIVED_MONTHS }}
