# {{ ansible_managed }}

[DEFAULT]
use_journal = True

[keystone_authtoken]
auth_type = {{ placement_keystone_auth_type }}
insecure = {{ keystone_service_internaluri_insecure | bool }}
auth_url = {{ keystone_service_adminuri }}
www_authenticate_uri = {{ keystone_service_publicuri }}
project_domain_id = {{ placement_service_project_domain_id }}
user_domain_id = {{ placement_service_user_domain_id }}
project_name = {{ placement_service_project_name }}
username = {{ placement_service_user_name }}
password = {{ placement_service_password }}
region_name = {{ keystone_service_region }}
memcached_servers = {{ placement_memcached_servers }}
memcache_security_strategy = ENCRYPT
memcache_secret_key = {{ memcached_encryption_key }}
service_token_roles_required = {{ placement_service_token_roles_required | bool }}
service_token_roles = {{ placement_service_token_roles | join(',') }}
service_type = {{ placement_service_type }}

[placement_database]
connection = mysql+pymysql://{{ placement_galera_user }}:{{ placement_galera_password }}@{{ placement_galera_address }}/{{ placement_galera_database }}?charset=utf8{% if placement_galera_use_ssl | bool %}&ssl_verify_cert=true{% if placement_galera_ssl_ca_cert | length > 0 %}&ssl_ca={{ placement_galera_ssl_ca_cert }}{% endif %}{% endif +%}
max_overflow = {{ placement_db_max_overflow }}
max_pool_size = {{ placement_db_max_pool_size }}
pool_timeout = {{ placement_db_pool_timeout }}
connection_recycle_time = {{ placement_db_connection_recycle_time }}
