# {{ ansible_managed }}
# http://www.postfix.org/postconf.5.html
#
# See also https://docs.mailman3.org/projects/mailman/en/latest/src/mailman/docs/mta.html#postfix

mydomain = {{ MAILMAN_INCOMING_MAIL_DOMAIN }}
myhostname = {{ MAILMAN_WEB_DOMAIN }}

# send email as <user>@<mydomain>
myorigin = $mydomain

# Only accept email destined for the server itself or the configured domain.
mydestination = $myhostname,$mydomain

# Only relay mail from the local mailman server
mynetworks_style = host

# Support the default VERP delimiter.
recipient_delimiter = +

# Turn off the local biff service to save resources.
# This isn't useful for us, because we don't have local users on the server who want new mail notifications.
biff = no

# Don't treat owner- and -request addresses specially
owner_request_special = no

alias_maps = hash:/etc/aliases

transport_maps =
    hash:/var/lib/mailman3/data/postfix_lmtp,
    hash:/etc/postfix/transport

local_recipient_maps =
    hash:/var/lib/mailman3/data/postfix_lmtp,
    $alias_maps
    hash:/etc/postfix/transport

relay_domains =
    hash:/var/lib/mailman3/data/postfix_domains

smtpd_recipient_restrictions = permit_mynetworks,reject_unauth_destination

smtpd_tls_cert_file = /etc/letsencrypt/live/{{ MAILMAN_WEB_DOMAIN }}/fullchain.pem
smtpd_tls_key_file = /etc/letsencrypt/live/{{ MAILMAN_WEB_DOMAIN }}/privkey.pem
smtpd_tls_security_level = may
smtpd_tls_session_cache_database = btree:${queue_directory}/smtpd_scache
smtp_tls_session_cache_database = btree:${queue_directory}/smtp_scache
{% if OPENCRAFT_HEADER_TOKEN %}
header_checks = regexp:/etc/postfix/header_checks
{% endif %}
