server {
    listen {{ repo_server_bind_address }}:{{ repo_server_port }};
    server_name {{ repo_server_name }};

    # Logging
    access_log /var/log/nginx/{{ repo_server_name }}.access.log gzip buffer=32k;
    error_log /var/log/nginx/{{ repo_server_name }}.error.log notice;

    location / {
        root {{ repo_service_home_folder }}/repo/;
        autoindex on;
        expires 5h;
    }
}
